SetEnv PHP_VER 5

# Turn on the rewriting engine
RewriteEngine On    

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_URI} (/|\.php|\.html|\.htm|\.feed|\.pdf|\.raw|/[^.]*|/[^.]*\.[\s+][^.]*)$  [NC]
RewriteRule ^(.*)/?$    index.php?d=$1
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]